@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
	Typography
*/
/*
	Colours
*/
@media screen and (min-width: 768px) {
  .about-intro, .about-tech {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .about-intro:last-child, .about-tech:last-child {
      margin-right: 0; } }
@-webkit-keyframes popup {
  from {
    top: 4rem; }
  to {
    top: 0; } }
@-moz-keyframes popup {
  from {
    top: 4rem; }
  to {
    top: 0; } }
@keyframes popup {
  from {
    top: 4rem; }
  to {
    top: 0; } }
nav {
  width: 90%;
  height: 4rem;
  position: relative;
  left: 50%;
  top: 4rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: popup 0.5s cubic-bezier(1, 0, 0.19, 1.44) forwards;
  -moz-animation: popup 0.5s cubic-bezier(1, 0, 0.19, 1.44) forwards;
  animation: popup 0.5s cubic-bezier(1, 0, 0.19, 1.44) forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }
  @media screen and (min-width: 768px) {
    nav {
      width: 40%; } }
  nav ul {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    nav ul li {
      list-style-type: none;
      width: 33.33333%;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      line-height: 4rem;
      vertical-align: middle; }
      nav ul li:first-child a {
        border-top-left-radius: 7px; }
      nav ul li:last-child a {
        border-top-right-radius: 7px; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        background: rgba(255, 255, 255, 0.2);
        -webkit-transition: color 0.2s, background 0.2s ease;
        -moz-transition: color 0.2s, background 0.2s ease;
        transition: color 0.2s, background 0.2s ease; }
        nav ul li a.active {
          color: #e91e63;
          background: white; }
        .no-touch nav ul li a:hover:not(.active) {
          background: rgba(255, 255, 255, 0.25); }

aside {
  width: 7rem;
  background: orange;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0; }

.header-block {
  height: 6rem;
  background: #fff;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: height 0.5s cubic-bezier(1, 0, 0.19, 1.44);
  -moz-transition: height 0.5s cubic-bezier(1, 0, 0.19, 1.44);
  transition: height 0.5s cubic-bezier(1, 0, 0.19, 1.44);
  /*&:hover {
  	height:100%;
  }*/ }
  .header-block .header-block-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .header-block .header-block-text h1 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400; }
    .header-block .header-block-text p {
      text-transform: uppercase;
      color: #bdbdbd; }

section.about {
  padding: 2rem; }

.about-tech ul li {
  display: inline-block;
  border: 1px solid #bdbdbd;
  margin: 0.3em;
  margin-left: 0.2em;
  padding: 0.2em 0.7em; }

li.project {
  height: 12rem;
  width: 100%;
  border-bottom: 1px solid #444;
  position: relative;
  padding: 1rem; }
  li.project.project-plugmedia {
    background-image: url("http://ns4lib.com/wp-content/uploads/2013/07/feature.jpg");
    background-size: cover; }
  li.project.project-peter-ashmore {
    background-image: url("http://media.al.com/live/photo/gulf-shores-website-screenshot-1c58200629ad5efb.jpg");
    background-size: cover; }
  li.project:last-child {
    border-bottom-width: 0; }
  li.project .project-overlay {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 9rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 768px) {
      li.project .project-overlay {
        width: 20rem; } }
    li.project .project-overlay .project-overlay-header {
      background: #eeeeee;
      padding: 0.5rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom: 1px solid #e0e0e0; }
      li.project .project-overlay .project-overlay-header h2 {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        font-weight: 500; }
      li.project .project-overlay .project-overlay-header ul li {
        display: inline-block;
        margin-right: 0.2em;
        font-style: italic;
        font-size: 0.9em; }
        li.project .project-overlay .project-overlay-header ul li:not(:last-child):after {
          content: "∙"; }
    li.project .project-overlay .project-overlay-main {
      padding: 0.5rem; }
      li.project .project-overlay .project-overlay-main p {
        text-align: left; }
  li.project a.project-link {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    background: #e91e63;
    color: #fff;
    border-radius: 50%;
    font-size: 3em;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body, html {
  height: 100%; }

body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #444;
  background: #C44524; }

@-webkit-keyframes gradient {
  0% {
    background-position: 100% 0; }
  50% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }
@-moz-keyframes gradient {
  0% {
    background-position: 100% 0; }
  50% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }
@keyframes gradient {
  0% {
    background-position: 100% 0; }
  50% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }
.container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.view-container {
  background: #fff;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 95%;
  border-radius: 9px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 85vh;
  overflow-y: scroll;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0.19, 1.44), height 0.3s cubic-bezier(1, 0, 0.19, 1.44);
  -moz-transition: width 0.3s cubic-bezier(1, 0, 0.19, 1.44), height 0.3s cubic-bezier(1, 0, 0.19, 1.44);
  transition: width 0.3s cubic-bezier(1, 0, 0.19, 1.44), height 0.3s cubic-bezier(1, 0, 0.19, 1.44); }
  @media screen and (min-width: 768px) {
    .view-container {
      width: 60%;
      height: 70vh; }
      .view-container.portfolio {
        width: 70%; }
      .view-container.plugmedia, .view-container.plugmedia-overview, .view-container.plugmedia-webdesign {
        width: 98%;
        height: 98vh; } }

@-webkit-keyframes header-block {
  0% {
    height: 6rem; }
  50% {
    height: 100%; }
  100% {
    height: 6rem; } }
@-moz-keyframes header-block {
  0% {
    height: 6rem; }
  50% {
    height: 100%; }
  100% {
    height: 6rem; } }
@keyframes header-block {
  0% {
    height: 6rem; }
  50% {
    height: 100%; }
  100% {
    height: 6rem; } }
main {
  height: 100%; }

section {
  background: #f5f5f5;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

/*# sourceMappingURL=main.css.map */
