<div class="project-container project-section">
	<div class="row">
		<h1>Graphic Design</h1>
	</div>
	<hr />
	<div class="row">
		<p>After getting a brief on the app idea, I was given the task of creating this series of cartoon style illustrations. I used Illustrator for these, with mostly the pen and shape tools.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/trunkys/car-box-man.png" height="614" width="794" alt="">
		</figure>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/trunkys/car-driving.png" height="614" width="793" alt="">
		</figure>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/trunkys/scanning.png" height="612" width="792" alt="">
		</figure>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/trunkys/success.png" height="612" width="792" alt="">
		</figure>
	</div>
	<div class="row">
		<p>I also created a rough logo for Trunkys, to use on the <a ui-sref="trunkys.ui-design">UI design mockups</a>.</p>
	</div>
	<div class="row">
		<figure class="no-shadow">
			<img src="../../images/trunkys/logo.png" height="196" width="756" alt="">
			<figcaption>Trunkys logo</figcaption>
		</figure>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="trunkys.overview">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Overview</p>
		</a>
	</div>
	<div class="project-next-section">
		<a ui-sref="trunkys.ui-design">
			<p>Next Section</p>
			<p>UI Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>