<div class="row">
	<div class="project-intro">
		<h1>Graphic Design</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, necessitatibus. Consequuntur eligendi aperiam impedit, repellendus nostrum fugiat recusandae amet. Officiis quasi debitis dicta dignissimos voluptatibus accusamus alias commodi unde veritatis, natus incidunt deserunt magnam delectus eum minima distinctio, doloremque! Eum.</p>
	</div>
</div>
<div class="row">
	<div class="project-paragraph">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab facere, labore blanditiis, voluptates et optio illum ducimus aperiam doloremque quae voluptatum odit dignissimos consectetur praesentium accusantium beatae cum, impedit sunt.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga rem, corrupti voluptatem, repudiandae laudantium ducimus nostrum dolores optio doloremque esse. Tempore facilis eum fugit natus omnis maxime, provident cumque tempora temporibus incidunt quo nemo velit quos aperiam corporis modi reprehenderit doloribus mollitia optio aliquam! Quis et, quasi perferendis suscipit dolores optio molestias ipsum temporibus iure!</p>
	</div>
	<div class="project-image">
		<img src="../../images/plug.gif" alt="">
	</div>
</div>
<div class="row project-next-section">
	<a ui-sref="trunkys.ui-design">UI Design<i class="icon-arrow-forward"></i></a>
</div>