<div class="project-container">
	<div class="row">
		<div class="project-overview-intro">
			<h1>Trunkys</h1>
			<p class="row project-subhead">A simple, modern one-page website.</p>
			<div class="row project-intro">
				<p>
					Trunkys is a mobile app concept which could allow regular people to utilise the extra space in their car to deliver packages on their commute.
				</p>
				<p>
					Peter requested a clean, easy to navigate page with bold colours and a striking logo.
				</p>
				<a href="//peterashmore.net">View Live Site</a>
			</div>
			<div class="row project-palette">
				<div class="palette-color" tooltip="#56A9D8"></div>
				<div class="palette-color" tooltip="#306177"></div>
				<div class="palette-color" tooltip="#FF775C"></div>
			</div>
			<div class="row project-technologies">
				<h2>Built With:</h2>
				<ul>
					<li>HTML5</li>
					<li>Sass</li>
					<li>jQuery</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
					<li>Adobe Illustrator</li>
				</ul>
			</div>
		</div>
		<div class="project-overview-image">
			<img src="../../images/peter-ashmore/mockup-mobile.png" alt="">
		</div>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-next-section full">
		<a ui-sref="trunkys.graphic-design">
			<p>Next Section</p>
			<p>Graphic Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>