<div class="project-container">
	<div class="row">
		<div class="project-overview-image">
			<img src="../../images/trunkys/car-driving-circle.png" alt="">
		</div>
		<div class="project-overview-intro">
			<h1>Trunkys</h1>
			<p class="row project-subhead">Interface design &amp; fun illustrations for a mobile app.</p>
			<div class="row project-intro">
				<p>
					Trunkys is a mobile app concept which could allow regular people to utilise the extra space in their car to deliver packages on their commute.
				</p>
				<p>
					I was requested to create a series of colourful illustrations to show the app in use, as well as design a logo and user interface for the app itself.
				</p>
			</div>
			<div class="row project-palette">
				<div class="palette-color" tooltip="#F05B5C"></div>
				<div class="palette-color" tooltip="#204055"></div>
				<div class="palette-color" tooltip="#FFFFFF"></div>
			</div>
			<div class="row project-technologies">
				<h2>Built With:</h2>
				<ul>
					<li>Adobe Illustrator</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-next-section full">
		<a ui-sref="trunkys.graphic-design">
			<p>Next Section</p>
			<p>Graphic Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>