<div class="project-container project-section">
	<div class="row">
		<h1>UI Design</h1>
	</div>
	<div class="row">
		<p>I was given a list of screens to mock up, showing the concept of the Trunkys app. I used Illustrator for this task. We wanted to keep the interface simple and intuitive, with a strong colour scheme.</p>
	</div>
	<div class="row">
		<figure>
			<figcaption>sign up</figcaption>
		</figure>
	</div>
	<div class="row">
		<figure>
			<figcaption>new journey</figcaption>
		</figure>
	</div>
	<div class="row">
		<figure>
			<figcaption>pickup point</figcaption>
		</figure>
	</div>
	<div class="row">
		<figure>
			<figcaption>congratulations</figcaption>
		</figure>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="trunkys.graphic-design">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Graphic Design</p>
		</a>
	</div>
	<div class="project-next-project">
		<a ui-sref="simplespin">
			<p>Next Project</p>
			<p>Simplespin</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>