<div class="project-container project-section">
	<div class="row">
		<h1>Graphic Design</h1>
	</div>
	<hr />
	<div class="row">
		<p>The tape machine graphic was custom drawn with the pen and shape tools in Illustrator, based on a photo of a vintage tape machine. The body and both reels were exported separately as SVGs, to allow me to animate the reels individually.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/tape-lines.png" height="519" width="628" alt="">
			<figcaption>Drawing the tape machine in Illustrator</figcaption>
		</figure>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="peter-ashmore.web-development">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Web Development</p>
		</a>
	</div>
	<div class="project-next-section">
		<a ui-sref="peter-ashmore.logo-design">
			<p>Next Section</p>
			<p>Logo Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>