<div class="project-container">
	<div class="row">
		<div class="project-overview-intro">
			<h1>Peter Ashmore</h1>
			<p class="project-subhead">A simple, modern one-page website</p>
			<div class="project-intro">
				<p>PeterAshmore.net is a single page websited I designed and developed for Dublin based audio engineer &amp; producer Peter Ashmore to promote his services. This was a freelance project which was a lot of fun to work on.</p>
				<p>Peter wanted a clean, easy to navigate page Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima.</p>
			</div>
			<div class="project-palette">
				<div class="palette-color"></div>
				<div class="palette-color"></div>
				<div class="palette-color"></div>
			</div>
		</div>
		<div class="project-overview-image">
			<img src="../../images/peter-ashmore/mockup-mobile.png" alt="">
		</div>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-next-section full">
		<a ui-sref="peter-ashmore.web-design">
			<p>Next Section</p>
			<p>Web Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>