<div class="project-container project-section">
	<div class="row">
		<h1>Web Design</h1>
	</div>
	<hr />
	<div class="row">
		<p>Peter was looking for a simple, clean, and modern website to showcase his talents. We agreed that a single page scrolling website would be perfect for his needs. I started by creating a rough mockup in Illustrator.</p>
	</div>
	<div class="row">
		<p>For the navigation, I decided on a minimal, icon based navigation at the top left, which collapses into a dropdown menu for smaller devices.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/nav.png" height="445" width="685" alt="">
			<figcaption>Desktop navigation</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>I used fixed background images for the studio photos on the page for a subtle effect, and also to save some vertical space.</p>
	</div>
	<div class="row">
		<p>The fonts used are MTT Milano Bold for headings and buttons, and MTT Milano Regular for body copy.</p>
	</div>
	<div class="row">
		<p>The page resolves nicely with the 'contact' section, featuring the same blue background as the header, and an elegant, minimal contact form.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/contact-form.png" height="593" width="1280" alt="">
			<figcaption>Contact form</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>We decided that a grid style Instagram feed at the bottom would round out the design nicely, to give prospective clients an insight into Peter's personality as well as his work.</p>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="peter-ashmore.overview">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Overview</p>
		</a>
	</div>
	<div class="project-next-section">
		<a ui-sref="peter-ashmore.web-development">
			<p>Next Section</p>
			<p>Web Development</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>