<div class="project-container project-section">
	<div class="row">
		<h1>Web Development</h1>
	</div>
	<div class="row">
		<p>One feature I was excited to implement on this site was the animated tape machine. As the user scrolls, the reels of the tape machine rotate. This was achieved with a few lines of jQuery. I used a <span class="mono">$(window).scroll()</span> event to trigger CSS transforms on each reel, based on how far the user has scrolled from the top of the window. The function also adds a class to a coloured div behind the tape machine's VU meters, which makes them appear to light up. This class is removed when the user stops scrolling.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/tape-scroll.gif" height="529" width="1137" alt="">
			<figcaption>The scrolling tape machine effect</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>Peter wanted the site to have a loading animation, so I decided to use the spinning tape reel as a loader. I implemented this by adding a <span class="mono">'loading'</span> class to body, then removing the class on <span class="mono">$(window).load()</span>.</p>
	</div>
	<div class="row">
		<figure>
			<figcaption>loader gif</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>For the studio photos, I originally tried a parallax scrolling effect using <a href="http://prinzhorn.github.io/skrollr/">Skrollr</a>, but the client found it a little distracting, so we settled on simply using <span class="mono">background-attachment: fixed</span>.</p>
	</div>
	<div class="row">
		<p>Peter is an audio engineer, so an audio player was a must to showcase his work. The player is a feed from his Soundcloud account, handled by <a href="https://www.toneden.io/player">Toneden.js</a>. This was super easy to implement, but required some styling to fit in with the rest of the page. I removed a lot of the player's features (album cover, follow button, statistics etc) with CSS to leave a nice minimal interface. This player features an awesome animated SVG waveform for which I can't take credit!</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/audio.gif" height="472" width="804" alt="">
			<figcaption>The Toneden audio player</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>As I was using a static host for Peter's website, a server side form submission wasn't an option, so I decided to use <a href="http://formspree.io/">Brace.io Forms (now Formspree)</a> to handle the form submission.
	</div>
	<div class="row">
		<p>For the Instagram feed, I used <a href="http://instafeedjs.com/">Instafeed.js</a>, a Javascript plugin which pulls data from the Instagram API via a user ID and oAuth token. This plugin allowed me to write a custom template to display the images in the way that I wanted, including an overlay which appears on hover, displaying the number of likes and comments that photo has.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/peter-ashmore/instafeed.png" height="258" width="1280" alt="">
			<figcaption>Instagram feed</figcaption>
		</figure>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="peter-ashmore.web-design">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Web Design</p>
		</a>
	</div>
	<div class="project-next-section">
		<a ui-sref="peter-ashmore.graphic-design">
			<p>Next Section</p>
			<p>Graphic Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>