<div class="project-container">
	<div class="row">
		<div class="project-overview-image">
			<img src="../../images/peter-ashmore/mockup-mobile.png" alt="">
		</div>
		<div class="project-overview-intro">
			<h1>Footer-reveal.js</h1>
			<p class="row project-subhead">A jQuery plugin for quick implementation of a revealing footer effect.</p>
			<div class="row project-intro">
				<p>
					The footer reveal effect is one I come across quite often in modern web design. * I think it looks great *, and so I decided to write a jQuery plugin for people to quickly add this functionality to their footer element.
				</p>
				<p>
					I felt that it could be useful for beginners, or for people who simply want a fast way of implementing the effect on a fluid-height footer (not really achievable in pure CSS).
				</p>
				<a href="//iainandrew.github.io/footer-reveal/">View Live Demo</a>
			</div>
			<div class="row project-technologies">
				<h2>Built With:</h2>
				<ul>
					<li>jQuery</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-next-section full">
		<a ui-sref="footerreveal.web-development">
			<p>Next Section</p>
			<p>Web Development</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>