<div class="project-container project-section">
	<div class="row">
		<h1>Web Development</h1>
	</div>
	<div class="row">
		<p>This project was a lot of fun to put together, as it was my first foray into writing a jQuery plugin.</p>
		<p>Essentially, the plugin takes your footer element and gives it fixed positioning, a <span class="mono">bottom</span> value of 0 and a <span class="mono">z-index</span> value of -100, as well as a nice cross browser compatible box shadow below the previous element to enhance the effect. For the 'reveal', the element before the footer is given a <span class="mono">margin-bottom</span> value equal to the height of the footer. This value is recalculated on window resize too, so that the margin value will always be correct even if the footer has a fluid height.</p>
	</div>
	<div class="row">
		<p>If the footer element happens to be taller than the viewport (on a landscape phone for example), the functionality of the plugin is disabled and the footer remains static, as illustrated below.</p>
	</div>
	<div class="row">
		<figure>
			<figcaption>landscape phone scrolling gif</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>I added some optional settings for the plugin – an option to turn off the box shadow, one to set the opacity of the box shadow, and one to change the <span class="mono">z-index</span> value of the footer from the default -100. I did this by defining a 'defaults' array and using jQuery's <span class="mono">$.extend</span> method.</p>
		<p>I tried to keep the code as DRY as possible and the file as lightweight as possible. The minified version comes in at under 1KB.</p>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="footerreveal.overview">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Overview</p>
		</a>
	</div>
	<div class="project-next-project">
		<a ui-sref="trunkys">
			<p>Next Project</p>
			<p>Trunkys</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>