.header-block {
	display:block;
	height:6rem;
	background:#fff;
	width:100%;
	text-align:center;
	border-bottom:1px solid $grey-300;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	@include transition(height 0.5s $cubic);
	//@include animation(header-block-slide 1s $cubic);
	/*&:hover {
		height:100%;
	}*/
	.header-block-text {
		position:relative;
		top:50%;
		@include transform(translateY(-50%));
		h1 {
			@include headline-text;
		}
		p {
			@include subhead-text;
			font-size:0.9em;
			text-transform:uppercase;
			color:$grey-400;
		}
	}
}