logo {
  width:200rem;
  height:200rem;
  border-radius:50%;
  background:#fff;
  position:fixed;
  z-index:2;
  top:50%;
  left:50%;
  @include box-shadow-z1;
  @include transform(translate(-50%, -50%));
  @include transition(all 2s $cubic, 
                      margin-left 0.3s $cubic, 
                      width 0.5s ease,
                      height 0.5s ease,
                      top 0.5s $cubic,
                      left 0.5s $cubic,
                      transform 0.5s $cubic);
  &.logo-animate {
    //@include animation(logo-scale 0.7s ease forwards 2.2s, logo-to-top 0.5s $cubic forwards 3.1s);
    svg path {
      @include animation(draw 2s linear forwards 0.5s, hide 0.1s ease forwards 1.9s);
    }
    img {
      @include animation(wobble 0.3s $cubic forwards 1.9s);
    }
  }
  &.logo-scale {
    width:5rem;
    height:5rem;
  }
  &.logo-to-top {
    top:1rem;
    left:1rem;
    @include transform(translate(0, 0));
  }
  &.logo-scroll {
    //opacity:0.6;
    //margin-left:-2.5rem;
    width:2rem;
    height:2rem;
  }
  svg {
    width:100%;
    max-width:10rem;
    height:auto;
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
    path {
      fill-opacity: 0;
      stroke: #000;
      stroke-width: 2;
      stroke-dasharray: 870;
      stroke-dashoffset: 870;
    }
  }
  img {
    opacity:0;
    width:100%;
    max-width:10rem;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
    @include transition(all 0.5s $cubic, opacity 0.5s ease);
  }
}
@include keyframes (draw) {
  to {
    stroke-dashoffset: 0;
  }
}
@include keyframes(hide) {
  to {
    opacity:0;
  }
}
@include keyframes (wobble) {
  from, to { 
    @include transform(translate(-50%, -50%) scale(1, 1)); 
    opacity:1;
  }
  25% { 
    @include transform(translate(-50%, -50%) scale(0.9, 1.1)); 
  }
  50% { 
    @include transform(translate(-50%, -50%) scale(1.1, 0.9)); 
  }
  75% { 
    @include transform(translate(-50%, -50%) scale(0.95, 1.05)); 
  }
}
// @include keyframes(logo-scale) {
//   to {
//     width:5rem;
//     height:5rem;
//     //border-radius:50%;
//   }
// }
// @include keyframes(logo-to-top) {
//   to {
//     top:1rem;
//     left:1rem;
//     @include transform(translate(0, 0));
//   }
// }