footer {
  width:100%;
  margin-top:1rem;
  border-radius:9px;
  @include box-shadow-z3;
  @include media($desktop) {
    margin-top:2rem;
  }
  section {
  	padding:2rem;
    border-radius:9px;
  }
}
.footer-links {
  @include span-columns(6);
  li {
    display:inline-block;
    &:not(:last-child) {
      margin-right:0.5em;
    }
  }
  a {
    i {
      font-size:1.3em;
    }
  }
}
.footer-about {
  @include span-columns(6);
  float:right;
  text-align:right;
  a {
    @include text-link;
    i {
      color:#444;
      font-size:1.3em;
    }
  }
}