$mobile: new-breakpoint(min-width 320px);
$tablet: new-breakpoint(min-width 480px);
$desktop: new-breakpoint(min-width 768px);
$widescreen: new-breakpoint(min-width 1281px);

@include media($desktop) {
	.about-intro, .about-tech {
		@include span-columns(6);
	}
}
section {
	//@include outer-container;
}
.project-image {
	@include media($desktop) {
		@include span-columns(5, block-collapse);
	}
}
.project-info {
	@include media($desktop) {
		@include span-columns(7, block-collapse);
	}
}