$mobile: new-breakpoint(min-width 320px);
$tablet: new-breakpoint(min-width 480px);
$desktop: new-breakpoint(min-width 768px);
$ninefifty: new-breakpoint(min-width 950px);
$widescreen: new-breakpoint(min-width 1281px);
$super-widescreen: new-breakpoint(min-width 1920px);

.row {
	@include row();
}
.about-intro, .about-tech, .contact-links, .contact-mail {
	@include media($desktop) {
		@include span-columns(6);
	}
}

// Portfolio view
.portfolio-image {
	@include media($desktop) {
		@include span-columns(5, block-collapse);
	}
}
.portfolio-info {
	@include media($desktop) {
		@include span-columns(7, block-collapse);
	}
}

// Project view
.project-overview-intro, .project-overview-image {
	@include media($ninefifty) {
		@include span-columns(6);
		@include omega;
	}
}
.project-section {
  .half {
  	@include media($ninefifty) {
  		@include span-columns(6);
  		//@include omega;
  	}
  }
}