@include keyframes(popup) {
  from {
    top:7rem;
  }
  to {
    top:0;
  }
}
@include keyframes(show) {
  to {
    opacity:1;
  }
}
nav {
  position:fixed;
  top:1rem;
  left:0rem;
  width:12rem;
  display:block;
  z-index:1;
  height:9rem;
  opacity:0;
  @include transition(top 0.7s $cubic);
  &.nav-show {
    //opacity:1;
    ul li {
      //@include animation(nav-show 0.6s $cubic forwards);
      //opacity:1;
      &:first-child {
        top:0;
        right:1.5rem;
      }
      &:nth-child(2) {
        top:3.5rem;
        right:1.5rem;
      }
      &:nth-child(3) {
        top:6rem;
        right:4.3rem;
      }
      span {
        display:block;
      }
    }
  }
  &.dark-labels {
    ul li span {
      color:#444;
    }
  }
  ul {
    li {
      color:#fff;
      font-size:1.4em;
      //opacity:0;
      -webkit-font-smoothing:antialiased;
      position:absolute;
      top:1rem;
      right:8rem;
      //@include transition(all 0.6s $cubic);
      //@include animation(nav-show 0.8s $cubic forwards 4s);
      .no-touch & {
        &:hover {
          i {
            @include transform(scale(1.1));
          }
          span {
            opacity:1;
          }
        }
      }
      &:first-child {
        @include transition(all 0.3s $cubic, margin 0.2s ease);
        i {
          background:$indigo-500;
        }
        .no-touch & {
          &:hover {
            margin-top:-0.1rem;
            margin-right:-0.3rem;
          }
        }
      }
      &:nth-child(2) {
        @include transition(all 0.4s $cubic, margin 0.2s ease);
        i {
          background:$pink-500;
        }
        .no-touch & {
          &:hover {
            margin-top:0.1rem;
            margin-right:-0.3rem;
          }
        }
      }
      &:nth-child(3) {
        @include transition(all 0.5s $cubic, margin 0.2s ease);
        i {
          background:$amber-500;
        }
        .no-touch & {
          &:hover {
            margin-top:0.2rem;
            margin-right:-0.3rem;
          }
        }
      }
      a {
        display:inline-block;
        @include media($desktop) {
          &:before {
            content:"";
            width:2rem;
            height:2rem;
            position:absolute;
            z-index:-1;
            left:50%;
            top:50%;
            @include transform(translate(-50%, -50%));
            border-radius:50%;
            background:rgba(#fff, 0.2);
          }
        }
        i {
          position:relative;
          display:inline-block;
          padding:0.4rem;
          border:2px solid;
          border-radius:50%;
          @include box-shadow-z1;
          @include transition(all 0.2s ease);
        }
        span {
          position: absolute;
          top: 50%;
          @include transform(translateY(-40%));
          left: 100%;
          margin-left:1rem;
          @include nav-text;
          opacity:1;
          display:none;
          @include transition(all 0.2s ease);
          //cursor:default;
          .no-touch & {
            opacity:0;
          }
        }
        &.active {
          &:before {
            @include animation(nav-pulse 1s ease forwards);
          }
        }
      }
    }
  }
}
@include keyframes (nav-show) {
  to {
    opacity:1;
  }
}
@include keyframes (nav-pulse) {
  from {
    opacity:1;
  }
  50% {
    width:40rem;
    height:40rem;
    opacity:0;
  }
  100% {
    width:2rem;
    height:2rem;
    opacity:0;
  }

}
.overlay {
  position:fixed;
  top:-100%;
  left:-100%;
  @include transform(translate(-50%,-50%));
  background:#000;
  opacity:0.6;
  width:0;
  height:0;
  z-index:1;
  border-radius:50%;
  @include transition(all 0.3s ease);
  &.show {
    width:150vh;
    height:150vh;
    @media (orientation: landscape) {
      width:150vw;
      height:150vw;
    }
    left:50%;
    top:50%;
  }
}