@include keyframes(popup) {
  from {
    top:6rem;
  }
  to {
    top:0;
  }
}

nav {
  width:90%;
  @include media($desktop) {
    width:40%;
  }
  //height:4rem;
  position:relative;
  left:50%;
  top:6rem;
  @include transform(translateX(-50%));
  @include animation(popup 0.5s $cubic forwards);
  @include animation-delay(0.7s);
  &:after {
    content:"";
    position:absolute;
    height:1rem;
    width:100%;
    left:0;
    bottom:-1rem;
    background:rgba(#fff,0.2);
  }
  ul {
    width:100%;
    @include display(flex);
    li {
      //display:inline-block;
      list-style-type:none;
      width:percentage(4/12);
      @include nav-text;
      text-align:center;
      line-height:4rem;
      vertical-align:middle;
      &:first-child {
        a {
          border-top-left-radius:7px;
          @include media($desktop) {
            &:before {
              content:"\e809";
            }
          }
        }
      }
      &:nth-child(2) {
        a {
          @include media($desktop) {
            &:before {
              content:"\e80b";
            }
          }
        }
      }
      &:last-child {
        a {
          border-top-right-radius:7px;
          @include media($desktop) {
            &:before {
              content:"\e80f";
            }
          }
        }
      }
      a {
        color:rgba(#fff, 0.4);
        text-decoration:none;
        display:block;
        background:rgba(#fff,0.2);
        position:relative;
        @include transition(color 0.2s, background 0.2s ease);
        @include media($desktop) {
          padding-top:1rem;
          &:before {
            font-family: 'fontello';
            font-size: 1.3em;
            width: 2.5rem;
            line-height: 2.5rem;
            height: 2.5rem;
            margin-bottom: -1rem;
            display: block;
            border-radius: 50%;
            position:relative;
            left:50%;
            @include transform(translateX(-50%) scale(0.8));
            @include transition(all 0.4s cubic-bezier(.8,-0.65,.31,1.84));
          }
          &:after {
            content:"";
            width:0.8rem;
            height:0.8rem;
            background:#fff;
            position:absolute;
            left:50%;
            margin-left:-0.4rem;
            bottom:-1rem;
            opacity:0;
            @include transform(rotate(45deg));
            @include transition(all 0.3s $cubic);
          }
        }
        &.active {
          color:#fff;
          &:before {
            @include box-shadow-z1;
            background:#fff;
            color:$pink-500;
            @include transform(translateX(-50%) scale(1));
          }
          &:after {
            bottom:-0.5rem;
            opacity:1;
          }
        }
        .no-touch & {
          &:hover:not(.active) {
            background:rgba(#fff, 0.25);
          }
        }
      }
    }
  }
}