/*@include keyframes(project-sidebar-load) {
	from {
		border-top-right-radius:0;
  	border-bottom-right-radius:0;
  	background:#fff;
	}
	to {
		border-radius:7px;
		background:$pink-500;
	}
}*/

sidebar {
	position:relative;
	background:$pink-500;
	display:block;
	//@include box-shadow-z3;
	@include menu-text;
	@include transition(all 0.3s $cubic 0.5s);
	@include media($desktop) {
		height:100%;
		float:left;
		width:10rem;
	  	background:#fff;
	  	border-top-right-radius:0;
	  	border-bottom-right-radius:0;
	  	.project-load & {
	  		border-radius:7px;
			background:$pink-500;
	  	}
	}
	.sidebar-browse {
		color:#fff;
		text-align:center;
		padding:1rem;
		font-size:1.2em;
		border-top-left-radius:7px;
		border-top-right-radius:7px;
		overflow:hidden;
		@include transition(all 0.5s ease);
		@include media($desktop) {
			padding:2rem 1rem;
			font-size:1em;
		}
		a {
			font-size:2em;
			position:relative;
			@include transition(all 0.2s ease);
			&:after {
              content:"";
              width:1rem;
              height:1rem;
              background:rgba(#fff,0.3);
              border-radius:50%;
              position:absolute;
              top:50%;
              left:50%;
              opacity:0;
              @include transform(translate(-70%, -50%) scale(1));
              @include transition(all 0.5s $cubic, opacity 0.1s ease);
            }
            &:active {
            	&:after {
		            @include keyframes(sidebar-browse-active) {
		            	0% {
							opacity:1;
		            	}
		            	50% {
							@include transform(translate(-70%, -50%) scale(25));
		            	}
		            	100% {
							@include transform(translate(-70%, -50%) scale(1));
							opacity:0;
		            	}
		            }
          			@include animation(sidebar-browse-active 1s);
				}
            }
			.no-touch & {
				&:hover {
					color:$pink-100;
				}
			}
			&[ng-href=""] {
				opacity:0.3;
				&:hover {
					color:#fff;
				}
			}
		}
	}
	.sidebar-menu {
		background:#fff;
		a.menu-toggle {
			display:inline-block;
			padding:0.2rem;
			width:100%;
			&:active {
				i {
					font-size:2.6em;
				}
			}
			i {
				display:block;
				font-size:2.5em;
				@include transition(all 0.2s ease);
			}
			@include media($desktop) {
		    	display:none;
		    }
		}
		ul {
			max-height:0;
			border-bottom:1px solid $grey-500;
			margin-bottom:-1px;
			@include transition(all 0.3s ease);
			@include box-shadow-z3;
			&.menu-show {
				max-height:350px;
		    }
		    @include media($desktop) {
		    	max-height:1000px;
		    }
			li {
				height:3.5rem;
				vertical-align:middle;
				line-height:3.5rem;
				text-indent:1rem;
				&:not(:last-child) {
					border-bottom:1px solid $border-grey;
				}
				a {
					display:block;
					position:relative;
					@include transition(all 0.3s ease);
					&:after {
						content:"";
						position:absolute;
						right:0;
						bottom:0;
						height:0;
						width:0.2rem;
						background-color:$pink-500;
						@include transition(all 0.3s ease);
					}
					&.sidebar-active {
						font-weight:600;
						&:after {
							height:100%;
							top:0;
						}
					}
				}
			}
		}
	}
}