/*
	Typography
*/

// Base
$base-text-color:#444;

$base-font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:13px;
$base-font-weight:400;
$base-line-height:24px;
$base-letter-spacing:0px;

// Display
$display-font-size:56px;
$display-font-weight:100;
$display-line-height:60px;

// Headline
$headline-font-size:24px;
$headline-line-height:32px;
$headline-font-weight:$base-font-weight;

// Subhead
$subhead-font-size:15px;
$subhead-line-height:24px;
$subhead-font-weight:$base-font-weight;

// Sidebar menu
$menu-font-size:13px;
$menu-font-weight:500;

// Button
$btn-font-size:14px;
$btn-font-weight:500;

// Main nav
$nav-font-size:18px;
$nav-font-weight:300;

/*
	Colours
*/

$pink-100:#f8bbd0;
$pink-200:#f48fb1;
$pink-300:#f06292;
$pink-400:#ec407a;
$pink-500:#e91e63;

$indigo-100:#c5cae9;
$indigo-200:#9fa8da;
$indigo-300:#7986cb;
$indigo-400:#5c6bc0;
$indigo-500:#3f51b5;

$grey-100:#f5f5f5;
$grey-200:#eeeeee;
$grey-300:#e0e0e0;
$grey-400:#bdbdbd;
$grey-500:#9e9e9e;

$cubic:cubic-bezier(1,0,.19,1.44);