<div class="project-container project-section">
	<div class="row">
		<h1>Logo Design</h1>
	</div>
	<div class="row">
		<figure class="half">
			<img src="../../images/plugmedia/old-logo.png" height="242" width="390" alt="">
			<figcaption>The old Plugmedia logo</figcaption>
		</figure>
		<figure class="half">
			<img src="../../images/plugmedia/old-logo.png" height="242" width="390" alt="">
			<figcaption>new logo (on website)</figcaption>
		</figure>
	</div>
	<div class="row">		
		<p>The client was looking for a logo that was not only clean and modern, but also represented the brand well, was recognisable and scaled down well. After trying out a few different concepts, I came up with the circular plug icon.</p>
		<p>I designed the icon in Illustrator, using the pen tool.</p>
	</div>
	<div class="row">
		<figure>
			<figcaption>The Plugmedia plug icon</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>The font I chose for the main text of the logo is Coolvetica Regular, and the tagline is Baufra Regular. I wanted a nice thick, eyecatching font which paired well with the icon.</p>
	</div>
	<div class="row">
		<figure>
			<figcaption>finished product on fancy mockup</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>On the website, I ended up implementing the icon and the logo in SVG and pure css, respectively.</p>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="plugmedia.web-development">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Web Development</p>
		</a>
	</div>
	<div class="project-next-project">
		<a ui-sref="peter-ashmore">
			<p>Next Project</p>
			<p>Peter Ashmore</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>