<div class="project-container">
	<div class="row">
		<div class="project-overview-image">
			<img src="../../images/plugmedia/htc.png" height="550" width="370" alt="">
		</div>
		<div class="project-overview-intro">
			<h1>Plugmedia</h1>
			<p class="row project-subhead">A sleek new look for a digital agency.</p>
			<div class="row project-intro">
				<p>
					In early 2014, I interned with Dublin based digital media agency, Plugmedia. During my time there, I worked on several interesting projects, including a complete overhaul of the agency's website and logo.
				</p>
				<p>
					We wanted to create an attractive, modern feel, with a few visual quirks to capture the user's attention.
				</p>
				<a href="//plugmedia.ie">View Live Site</a>
				<a href="//github.com/IainAndrew/plugmedia">View Source</a>
			</div>
			<div class="row project-palette">
				<div class="palette-color" tooltip="#E74C3C"></div>
				<div class="palette-color" tooltip="#3498DB"></div>
				<div class="palette-color" tooltip="#FFFFFF"></div>
			</div>
			<div class="row project-technologies">
				<h2>Built With:</h2>
				<ul>
					<li>HTML5</li>
					<li>LESS</li>
					<li>jQuery</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
					<li>Adobe Illustrator</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-next-section full">
		<a ui-sref="plugmedia.web-design">
			<p>Next Section</p>
			<p>Web Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>