<div class="project-container">
	<div class="row">
		<div class="project-overview-intro">
			<h1>Plugmedia</h1>
			<p class="project-subhead">A modern responsive something something website with a thing and something else</p>
			<p class="project-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, necessitatibus. Consequuntur eligendi aperiam impedit, repellendus nostrum fugiat recusandae amet. Officiis quasi debitis dicta dignissimos voluptatibus accusamus alias commodi unde veritatis, natus incidunt deserunt magnam delectus eum minima distinctio, doloremque! Eum.</p>
			<div class="project-palette">
				<div class="palette-color"></div>
				<div class="palette-color"></div>
				<div class="palette-color"></div>
			</div>
		</div>
		<div class="project-overview-image">
			<img src="../../images/htc.png" alt="">
		</div>
	</div>
</div>
<div class="section-navigation">
	<div class="back-to-top">
		<a href="#">
			<i class="icon-chevron-up"></i>
		</a>
	</div>
	<div class="project-next-section full">
		<a ui-sref="plugmedia.web-design">
			<p>Next Section</p>
			<p>Web Design</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>