<div class="row">
	<div class="project-overview-intro">
		<h1>Plugmedia</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, necessitatibus. Consequuntur eligendi aperiam impedit, repellendus nostrum fugiat recusandae amet. Officiis quasi debitis dicta dignissimos voluptatibus accusamus alias commodi unde veritatis, natus incidunt deserunt magnam delectus eum minima distinctio, doloremque! Eum.</p>
		<div class="project-overview-palette">
			<div class="palette-color"></div>
			<div class="palette-color"></div>
			<div class="palette-color"></div>
		</div>
	</div>
	<div class="project-overview-image">
		<img src="../../images/htc.png" alt="">
	</div>
</div>
<div class="row project-next-section">
	next section
</div>