<div class="project-container project-section">
	<div class="row">
		<h1>Web Design</h1>
	</div>
	<hr />
	<div class="row">
		<p>This project started life as a rough mockup in Illustrator. The client envisioned large, full width blocks of colour and images, with striking text and big, eyecatching CTA buttons.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/plugmedia/home-block.png" height="594" width="1280" alt="">
			<figcaption>Homepage full-width blocks</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>The fonts I decided on for this website are Baufra for headlines and buttons, and Cabrito for the body copy. I felt that this was a nice pairing which suited the aesthetics of the site well.</p>
	</div>
	<div class="row">
		<p>For the 'Showcase' section, the goal was to display all the projects as a grid, with each one expanding to full screen when clicked. On hover, each item has an overlay displaying the name of the project, and what role Plugmedia played in its creation.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/plugmedia/work-grid.png" height="596" width="1280" alt="">
			<figcaption>The grid of 'work' items</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>Each 'Work' project item, when expanded, opens a image slideshow, with an 'info' button at the bottom of the screen to display a short description of the project.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/plugmedia/work-item.png" height="598" width="1280" alt="">
			<figcaption>An open project, with the 'info' panel displaying</figcaption>
		</figure>
	</div>
	<div class="row">
		<p>I decided to place a 'contact us' block with a call to action at the end of every page, to give the user an opportunity to get in contact once they've finished reading the content of each page.</p>
	</div>
</div>

<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="plugmedia.overview">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Overview</p>
		</a>
	</div>
	<div class="project-next-section">
		<a ui-sref="plugmedia.web-development">
			<p>Next Section</p>
			<p>Web Development</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>