<div class="project-container project-section">
	<div class="row">
		<h1>Web Development</h1>
	</div>
	<hr />
	<div class="row">
		<p>This project was built with LESS, when I was just getting acquainted with the world of CSS pre-processing.</p>
	</div>
	<div class="row">
		<p>I first wrote a simple keyframe animation for a 360 degree rotation, then a series of mixins for each animation property - <span class="mono">animation-name</span>, <span class="mono">animation-duration</span>, <span class="mono">animation-direction</span>, <span class="mono">animation-iteration-count</span>, and <span class="mono">animation-timing-function</span>, complete with vendor prefixes. Finally, I filled out these values for different classes with different functionalities (<span class="mono">.spin-1s</span> for a 1 second linear rotation for example). These classes should simply be added to an element in HTML or with Javascript to apply the effect to that element.</p>
	</div>
	<div class="row">
		<figure>
			<img src="../../images/simplespin/docs.png" height="575" width="1276" alt="">
			<figcaption>A breakdown of the basic Simplespin.css classes</figcaption>
		</figure>
	</div>
</div>
<div class="section-navigation">
	<back-to-top offset="0"></back-to-top>
	<div class="project-prev-section">
		<a ui-sref="simplespin.overview">
			<p>Previous Section</p>
			<i class="icon-arrow-back"></i>
			<p>Overview</p>
		</a>
	</div>
	<div class="project-next-project">
		<a ui-sref="plugmedia">
			<p>First Project</p>
			<p>Plugmedia</p>
			<i class="icon-arrow-forward"></i>
		</a>
	</div>
</div>