.container.about {
	.view-container {
		background:$grey-100;
	}
}
section.about {
	padding:2rem;
	//@include calc(height, '100% - 6rem');
	height:auto;
	h2 {
		@include subhead-text;
		font-weight:500;
		text-transform:uppercase;
		margin-bottom:0.5rem;
	}
}
.about-tech {
	ul {
		li {
			display:inline-block;
			border:1px solid $grey-400;
			margin:0.3em;
			margin-left:0.2em;
			padding:0.2em 0.7em;
		}
	}
}
.about-more-link {
	color:$pink-500;
	&:hover {

	}
}