.container.about {
	.view-container {
		background:$grey-100;
	}
}
section.about {
	padding:2rem;
	//@include calc(height, '100% - 6rem');
	height:auto;
	@include outer-container(1000px);
	@include media($desktop) {
		padding:4rem;
	}
	p {
      &:not(:last-child) {
        margin-bottom:1em;
      }
    }
	h2 {
		@include subhead-text;
		font-weight:500;
		text-transform:uppercase;
		margin-bottom:0.5rem;
	}
	span {
		position:relative;
		color:$indigo-500;
		cursor:default;
		.tooltip-show {
			.map-marker {
				position:absolute;
				top:-100%;
				left:47px;
				opacity:0;
				@include keyframes (marker) {
					from {
						top:-100%;
						opacity:0;
					}
					to {
						top:25px;
						opacity:1;
					}
				}
				@include animation(marker 0.7s $cubic forwards 0.7s)
			}
		}
	}
	hr {
		@include rule-full;
		@include media($desktop) {
			display:none;
		}
	}
}
.about-top {
	@include media($desktop) {
		@include display(flex);
	}
}
.about-intro, .about-tech {
	@include card;
	margin-bottom:1rem;
	@include media($desktop) {
		margin-bottom:0;
		//@include span-columns(6);
		@include flex(1);
	}
}
.about-intro {
	@include media($desktop) {
		margin-right:1rem;
		//border-right:1px solid $border-grey;
		//padding-right:4rem;
	}
}
.about-intro-main {
	padding:1rem;
}
.about-links {
	padding:1rem;
	border-top:1px solid $border-grey;
	a {
		@include text-link;
		text-transform:uppercase;
		&:first-child {
			margin-right:2rem;
		}
	}
}
.about-tech {
	padding:1rem;
	@include media($desktop) {
		//padding-left:4rem;
	}
	ul {
		li {
			display:inline-block;
			//@include card;
			margin:0.3em;
			margin-left:0.2em;
			padding:0.2em 0.7em;
		}
	}
}
.about-full {
	@include card;
	@include media(new-breakpoint(min-width 600px)) {
		@include display(flex);
	}
	margin-top:1rem;
	.about-full-image {
		width:100%;
		height:14rem;
		background-image:url('../../images/profile.jpg');
		background-size:cover;
		background-position:50% 10%;
		@include media(new-breakpoint(min-width 600px)) {
			height:auto;
			min-height:14rem;
			@include flex(1);
			@include span-columns(4, block-collapse);
		}
	}
	.about-full-main {
		padding:1rem;
		@include media(new-breakpoint(min-width 600px)) {
			float:right;
			height:100%;
			@include span-columns(8, block-collapse);
		}
		.tooltip-text {
			padding:0.2rem 0.2rem 0 0.2rem;
			margin-bottom:-0.3rem;
		}
	}
}