.container.contact {
	.view-container {
		background:$grey-100;
	}
}
section.contact {
	padding:2rem;
	height:auto;
	@include outer-container(700px);
	@include media($desktop) {
		padding:4rem;
	}
}
.contact-container {
	@include card;
	@include row();
	h2 {
		@include subhead-text;
		font-weight:500;
		text-transform:uppercase;
		margin-bottom:0.5rem;
	}
	hr {
		@include rule-full;
		&:nth-of-type(2) {
			@include media($desktop) {
				display:none;
			}
		}
	}
	i {
		font-size:1.3em;
		color:$base-text-color;
		margin-right:0.5em;
	}
}
.contact-intro {
	padding:2rem;
	border-bottom:1px solid $border-grey;
	a {
		@include text-link;
	}
}
.contact-mail {
	padding:1rem;
	a {
		@include text-link;
		line-height:35px;
	}
}
.contact-links {
	padding:1rem;
	border-top:1px solid $border-grey;
	@include media($desktop) {
		border-top:0;
		border-left:1px solid $border-grey;
	}
	ul {
		li {
			line-height:35px;
			a {
				@include text-link;
			}
		}
	}
}
.contact-links, .contact-mail {
	@include media($desktop) {
		@include span-columns(6);
		@include omega();
	}
}