.peter-ashmore-overview {
	.project-main {
		.project-overview-intro {
			.project-palette {
				.palette-color {
					&:first-child {
						background:#56A9D8;
					}
					&:nth-child(2) {
						background:#306177;
					}
					&:nth-child(3) {
						background:#FF775C;
					}
				}
			}
		}
	}
}
