section.project-main {
  background:#fff;
  position:relative;
  padding:2rem;
  height:100%;
  overflow-y:scroll;
  @include transition(all 0.5s);
  /*&.ng-enter {
    left:2rem;
  }
  &.ng-enter-active {
    left:0;
  }
  &.ng-leave {
    left:0;
  }
  &.ng-leave-active {
    left:-2rem;
  }*/
  //@include box-shadow-z3;
  .row {
    margin-bottom:4rem;
  }
  h1 {
    @include display-text;
  }
  p.project-subhead {
    @include subhead-text;
    color:$grey-500;
    margin-top:0.5rem;
    margin-bottom:4rem;
  }
  .project-palette {
    margin-top:4rem;
    .palette-color {
      display:inline-block;
      width:4rem;
      height:4rem;
      border-radius:50%;
      background:red;
      &:not(:last-child) {
        margin-right:3rem;
      }
    }
  }
  .project-overview-image {
    img {
      height:500px;
      width:auto;
    }
  }
  .project-intro {
    max-width:40rem;
    h1 {
      margin-bottom:4rem;
    }
  }
  .project-image {
    img {
      max-width:100%;
      height:auto;
    }
  }
  .project-next-section {
    background:$indigo-500;
    color:#fff;
    width:100%;
    padding:2rem;
    border-radius:7px;
    margin:0;
  }
  .project-next-project {
    @extend .project-next-section;
  }
  @include media($desktop) {
  	@include calc(width, '100% - 10rem');
  	float:right;
  	border-top-left-radius:0;
  	border-bottom-left-radius:0;
  	@include animation(project-main-load 0.5s $cubic forwards);
  	@include animation-delay(0.5s);
  }
}

@include keyframes(project-main-load) {
	from {
		border-top-left-radius:0;
  	border-bottom-left-radius:0;
  	@include calc(width, '100% - 10rem');
	}
	to {
		border-radius:7px;
		@include calc(width, '100% - 10.5rem');
	}
}