section.project-main {
  background:#fff;
  position:relative;
  //padding:2rem;
  height:auto;
  overflow-y:scroll;
  @include transition(all 0.5s $cubic 0.5s);
  @include media($desktop) {
    height:100%;
    float:right;
    @include calc(width, '100% - 10rem');
    .project-load & {
        border-radius:7px;
        @include calc(width, '100% - 10.5rem');
    }
  }
  .project-container {
    padding:2rem;
  }
  .row {
    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }
  h1 {
    @include display-text;
  }
  p.project-subhead {
    @include subhead-text;
    color:$grey-500;
    margin-top:0.5rem;
    //margin-bottom:4rem;
  }
  .project-palette {
    width:100%;
    .palette-color {
      display:inline-block;
      position:relative;
      width:3rem;
      height:3rem;
      border-radius:50%;
      &:not(:last-child) {
        margin-right:2.5rem;
      }
    }
  }
  .project-intro {
    p {
      &:not(:last-child) {
        margin-bottom:1em;
      }
    }
  }
  .project-overview-image {
    img {
      max-width:100%;
      height:auto;
    }
  }
  .project-technologies {
    h2 {
      @include subhead-text;
      font-weight:500;
      margin-bottom:1rem;
    }
    ul {
      border-left:5px solid $indigo-200;
      padding-left:2em;
    }
  }
  .project-paragraph {
    p {
      &:not(:last-child) {
        margin-bottom:1em;
      }
    }
  }
  .project-image {
    img {
      max-width:100%;
      height:auto;
    }
  }
}

/*@include keyframes(project-main-load) {
	from {
		border-top-left-radius:0;
  	border-bottom-left-radius:0;
  	@include calc(width, '100% - 10rem');
	}
	to {
		border-radius:7px;
		@include calc(width, '100% - 10.5rem');
	}
}*/

.mono {
  font-family:monospace;
  font-size:1.1em;
}