.trunkys-overview {
	.project-main {
		.project-overview-intro {
			.project-palette {
				.palette-color {
					&:first-child {
						background:#F05B5C;
					}
					&:nth-child(2) {
						background:#204055;
					}
					&:nth-child(3) {
						background:#fff;
						border:1px solid $grey-400;
					}
				}
			}
		}
	}
}