<header-block heading="'I\'m Iain Andrew'" subhead="'A front-end web developer &amp; designer'"></header-block>

<section class="about">
	<div class="about-intro">
		<h2>About Me</h2>
		<p>I'm Iain, a front-end developer &amp; designer from Dublin, Ireland. I'm constantly learning, and always motivated to expand my knowledge and improve my skills. I'm also really passionate about modern development tools and techniques, as well as clean, intuitive design.</p>
		<p>I'm currently available for a full time position with a forward-thinking agency.</p>

		<div class="about-links">
			<a ui-sref="about-more">More about me</a>
			<a ui-sref="portfolio">View my work</a>
		</div>
	</div>

	<hr />

	<div class="about-tech">
		<h2>I use:</h2>
		<ul>
			<li ng-repeat="technology in technologies">
				{{technology}}
			</li>
		</ul>
	</div>
</section>
