<header-block heading="'About This Site'" subhead="'Learning New Technologies'"></header-block>

<section class="about-this-site">
	<div class="about-this-site-desc">
		<h2>About this site</h2>
		<p>I created this site not only to showcase my work, but also as an opportunity for me to learn new technologies. I used this opportunity to teach myself AngularJS. I used Angular mostly for its routing capabilites with <a href="//github.com/angular-ui/ui-router" target="_blank">ui-router</a>, but also its other benefits such as custom directives, data-binding, and my favourite - its modularity.</p>
		<p>I also furthered my knowledge of Sass, and made great use of the awesome <a href="//bourbon.io/" target="_blank">Bourbon</a> mixin library and <a href="//neat.bourbon.io" target="_blank">Neat</a> grid system.</p>
		<p>The design is (very) loosely based on Google's <a href="//www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a> style guide.</p>
		<p>I greatly improved my deployment process with this project, by using the <a href="//github.com/robwierzbowski/grunt-build-control" target="_blank">grunt-build-control</a> Grunt plugin to automatically commit and push my built code to my production branch on Github.</p>
	</div>
	<hr />
	<div class="about-this-site-technologies">
		<h2>Built With:</h2>
		<ul>
			<li>HTML5</li>
			<li>AngularJS</li>
			<li>Sass</li>
			<li>Bourbon</li>
			<li>Neat</li>
			<li>Grunt</li>
			<li>Bower</li>
			<li>Yeoman</li>
			<li>Adobe Illustrator</li>
		</ul>
	</div>
</section>