<section>
	<div class="footer-links">
		<ul>
			<li tooltip="hey!">
				<a href="//github.com/IainAndrew" target="_blank">
					<i class="icon-github"></i>
				</a>
			</li>
			<li>
				<a href="//www.linkedin.com/in/iaina" target="_blank">
					<i class="icon-linkedin-circled"></i>
				</a>
			</li>
			<li>
				<a href="cv.pdf">
					<i class="icon-doc-text"></i>
				</a>
			</li>
			<li>
				<a href="mailto:hi@iainandrew.com">
					<i class="icon-email"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-about">
		<a ui-sref="about-this-site">
			<i class="icon-info-outline"></i>
			About this site
		</a>
	</div>
</section>