<header-block heading="'Portfolio'" subhead="'A look at my recent work'"></header-block>

<section class="portfolio">
	<ul>
		<li ng-repeat="project in projects" class="project project-{{project.url}}">
			<a ui-sref="{{project.url}}" class="portfolio-image">
				<div ng-style="{'background-image': 'url({{project.image}})'}"></div>
			</a>
			<div class="portfolio-info">
				<div class="portfolio-info-main">
					<h2>{{project.name}}</h2>
					<ul>
						<li ng-repeat="role in project.roles">
							{{role}}
						</li>
					</ul>
					<p>{{project.desc}}</p>
				</div>
				<div class="portfolio-info-links">
					<a ng-href="{{project.liveUrl}}" target="_blank">
						view live site
					</a>
					<a ui-sref="{{project.url}}">
						view project
						<i class="icon-arrow-forward"></i>
					</a>
				</div>
			</div>
		</li>
	</ul>
</section>